<%- include('../partials/header') %>
<style>
  .message {
    color: white;
    margin-bottom: 15px;
  }
</style>
<div class="main-login">
  <div class="content-main-login">
    <h1>Área da Empresa</h1>
    <div>
      <% if (message) { %>
        <p class="message"><%= message %></p>
      <% } %>
    </div>
    
    <form action="/auth/login_empresa" method="POST">
      <input type="email" name="email" placeholder="E-mail" required>
      <input type="password" name="senha" placeholder="Senha" required>
      <button type="submit">Entrar</button>
    </form>
  </div>
</div>




<%- include('../partials/footer') %>
