<%- include('../partials/header') %>
<style>
  .content-main-login li {
    color: white;
    margin-bottom: 15px;
  }
</style>
  <div class="main-login">
    <div class="content-main-login">
      <h1>Cadastro de Empresa</h1>
      <% if (errors && errors.length > 0) { %>
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>
      <form action="/auth/register_empresa" method="POST">
        <input type="text" id="cnpj" name="cnpj" maxlength="14" placeholder="CNPJ" required>
        <input type="text" id="razaoSocial" name="razaoSocial" placeholder="Razão Social" required readonly>
        <input type="text" id="nomeFantasia" name="nomeFantasia" placeholder="Nome Fantasia">
        <input type="text" name="ie" placeholder="Inscrição Estadual (Opcional)">
        <input type="text" id="cep" name="cep" maxlength="8" placeholder="CEP" required>
        <input type="text" id="logradouro" name="logradouro" placeholder="Logradouro" required readonly>
        <input type="text" name="complemento" placeholder="Complemento" required>
        <input type="text" name="numero" placeholder="Número" required>
        <input type="text" id="bairro" name="bairro" placeholder="Bairro" required readonly>
        <input type="text" id="cidade" name="cidade" placeholder="Cidade" required readonly>
        <input type="text" id="uf" name="uf" maxlength="2" placeholder="UF" required readonly>
        <input type="text" name="telefone" placeholder="Telefone" required>
        <input type="text" name="whatsapp" placeholder="WhatsApp" required>
        <input type="text" name="responsavel" placeholder="Nome do Responsável" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>

 
  <script src="/js/cnpj.js"></script>
  <%- include('../partials/footer') %>