<%- include('../partials/header') %>
<style>
  .content-main-login ul {
    margin-bottom: 12px;
  }
  .content-main-login li {
    color: white;
    margin-bottom: 7px;
  }
</style>
  <div class="main-login">
    <div class="content-main-login">
      <h1>Cadastro de Candidato</h1>
      <% if (errors.length > 0) { %>
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>
      <form action="/auth/register_candidato" method="POST">
        <input type="text" name="nomeCompleto" placeholder="Nome Completo" required>
        <input type="text" name="cpf" placeholder="CPF" required>
        <input type="text" name="telefone" placeholder="Telefone" required>
        <input type="email" name="email" placeholder="E-mail" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <input type="text" id="cep" name="cep" maxlength="8" placeholder="CEP" required>
        <input type="text" id="logradouro" name="logradouro" placeholder="Logradouro" required readonly>
        <input type="text" name="complemento" placeholder="Complemento" required>
        <input type="text" name="numero" placeholder="Número" required>
        <input type="text" id="bairro" name="bairro" placeholder="Bairro" required readonly>
        <input type="text" id="cidade" name="cidade" placeholder="Cidade" required readonly>
        <input type="text" id="uf" name="uf" maxlength="2" placeholder="UF" required readonly>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>

 
  <script src="/js/cep.js"></script>
  <%- include('../partials/footer') %>
  