
  <%- include('partials/header') %>
  <div class="hero">
    <div class="content-hero">
      <div class="textos-hero">
        <h1>Bem vindo ao Anúncio de Vagas</h1>
        <h2>Aqui você pode encontrar colabordores ou uma empresa nova para você trabalhar!</h2>
        <h3>Tudo isso, <b>totalmente grátis</b></h3>
        <div class="botoes-hero">
          <a href="/auth/register_candidato">Criar conta de candidato</a>
          <a href="/auth/register_empresa">Criar conta de empresa</a>
        </div>
      </div>
    </div>
  </div>

  <section id="parceiros">
    <div class="content-parceiros">
      <img src="/img/parceiros/b1.jpg">
      <img src="/img/parceiros/b3.jpg">
      <img src="/img/parceiros/b4.jpg">
      <img src="/img/parceiros/b5.jpg">
      <img src="/img/parceiros/b6.jpg">
      <img src="/img/parceiros/b7.jpg">
    </div>
  </section>

  <section id="sobre">
    <div class="content-sobre">
      <div class="sobre-1">
        <img src="/img/sobre.png" alt="">
      </div>
      <div class="sobre-2">
        <h2>Sobre nós</h2>
        <p>Acreditamos que um mercado de trabalho mais justo e acessível beneficia a todos. Por isso, criamos o Anuncio de Vagas, uma plataforma gratuita que conecta pessoas e empresas, contribuindo para o desenvolvimento econômico e social.</p>
      </div>
    </div>
  </section>

 <a href="/auth/login_admin">Login como Admin</a>


  <%- include('partials/footer') %>
