<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Bem-vindo ao Sistema de Vagas</title>
</head>
<body>
  <h1>Bem-vindo ao Sistema de Vagas de Empregos</h1>
  <a href="/auth/login">Login</a> | 
  <a href="/auth/register_empresa">Cadastrar Empresa</a> | 
  <a href="/auth/register_candidato">Cadastrar Candidato</a>
</body>
</html>
